# OS specific files
*.DS_Store
*.Spotlight-V100
*.Trashes

# app specific files
*bbprojectd
*nbproject
*.sublime*

# user specific Drupal setting files
*/www/sites/sjugge.*
settings.php*

# Vagrant specific Drupal settings
www/sites/default/default.settings.php
www/sites/default/settings.php
www/sites/default/files

# Vagrant and related files
.vagrant*
Vagrantfile
scripts/

# db's
db/*
