'exception-reporting':
  'userId': 'a95bae04-2bfc-0c91-3012-f0f26fbb1888'
'release-notes':
  'viewedVersion': '0.73.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'b0d287c77e031ad57e0cf8eaf20127e13e31bd5e'
'editor':
  'fontSize': 12
'core':
  'themes': [
    'atom-dark-ui'
    'tomorrow-night-eighties'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'audioBeep': false
  'projectHome': '/Volumes/MBP - Sjugge/Workspace'
